<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<http use-expressions="true" access-denied-page="/accessDenied" disable-url-rewriting="true">
		<intercept-url pattern="/index*" access="permitAll" requires-channel="https"/>
		<intercept-url pattern="/login" access="permitAll" requires-channel="https"/>
		<intercept-url pattern="/login*" access="permitAll" requires-channel="https"/>
		<intercept-url pattern="/logout*" access="permitAll" requires-channel="https"/>
		<intercept-url pattern="/employee*" access="hasRole('EMPLOYEE')" requires-channel="https"/>
		<intercept-url pattern="/admin*" access="hasRole('ADMIN')" requires-channel="https"/>
		<intercept-url pattern="/customer*" access="hasRole('CUSTOMER')" requires-channel="https"/>
		<intercept-url pattern="/merchant*" access="hasRole('MERCHANT')" requires-channel="https"/>
		
		<form-login 
			login-page="/login"
			authentication-failure-handler-ref="SurakshitAuthFailurehandler"
			authentication-success-handler-ref="SurakshitAuthSuccessHandler"/>
	
		<session-management invalid-session-url="/index.jsp">
			<concurrency-control expired-url="/index.jsp"/>
		</session-management>
		
		<!-- <logout logout-success-url="/logout.jsp" delete-cookies="JSESSIONID" /> -->
		<logout  success-handler-ref="SurakshitLogoutSuccessHandler" delete-cookies="JSESSIONID" />
		
		<headers>
			<cache-control></cache-control>
			<hsts/>
		</headers>
	</http>

	<beans:bean id="SurakshitAuthSuccessHandler"
		class="asu.bank.security.service.SurakshitAuthenticationSuccessHandler" />
	
	<beans:bean id="SurakshitAuthFailurehandler"
		class="asu.bank.security.service.SurakshitAuthenticationFailureHandler" />
	
	<beans:bean id="SurakshitLogoutSuccessHandler"
		class="asu.bank.security.service.SurakshitLogoutSuccessHandler" />
	
		
	<beans:bean name="authenticationService"
		class="asu.bank.security.service.AuthenticationService" />
	
	<authentication-manager >
		<authentication-provider user-service-ref="authenticationService" >
			<password-encoder hash="bcrypt" />    
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>